*.apk
*.apk.idsig
*.vsix
*.log
build/
.gradle/
.idea/
*.iml
local.properties
node_modules/
package-lock.json
*.png
*.zip
web/android/.gradle/
web/android/build/
web/android/local.properties
web/android/.kotlin/
web/android/capacitor-cordova-android-plugins/build/
web/android/app/build/
color-palette*.css
extract_themes.py
note*.png
app_report_ar.md
bee*quuen*logo*.png
beeaueen*full*logo*.png
beequeen*manager*.png
web/beequeen_backup.json
